@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customized: Scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: #00000011;
}

::-webkit-scrollbar-thumb {
	background-color: #ddd;
	outline: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #c2c3c4;
}


/* Ant Design Message Over Everything  */
.ant-message,
.ant-menu-submenu.ant-menu-submenu-popup {
	z-index: 1520 !important;
}
.ant-picker-dropdown,
.ant-select-dropdown {
	z-index: 1400 !important;
}

/* NProgess Color */
#nprogress {
	z-index: 1000000000 !important;
}

#nprogress .bar {
	background: #f699bb !important;
	height: 4px !important;
}

#nprogress .spinner-icon {
	border-top-color: #93556b !important;
	border-left-color: #93556b !important;
	/* z-index: 1000000000 !important; */
}

#nprogress .peg {
	box-shadow: 0 0 10px #623948, 0 0 5px #dd80a1 !important;
}
